[data-ph-vars-link] {
}

@media (prefers-color-scheme: dark) {
  [data-ph-vars-link] {
    /*  */
  }
}

[data-ph-link] {
  cursor: pointer;
  background: none;
  color: var(--color-primary);
  font-weight: 400;
  font-size: var(--fs2);
  font-family: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: start;
  outline: none;
  text-decoration: underline;
}

@media (hover: hover) {
  [data-ph-link]:hover,
  [data-ph-link]:active {
    color: var(--color-primary-d);
  }
}
