/* TODO: dedupe */
@import url("../../form-control/styles.css");

[data-ph-input] {
  --input-background-color: white;
  --input-border-color: var(--color-neutral-200);
  --input-placeholder-color: var(--color-neutral-400);
  --input-focused-border-color: var(--color-primary-l);
  --input-focused-box-shadow: var(--color-primary-ll) 0 0 0 4px;
  --input-errored-border-color: var(--color-danger-500);
  --input-errored-box-shadow: var(--color-danger-100) 0 0 0 4px;

  box-sizing: border-box;
  margin: 0;
  display: inline-block;
  font-family: inherit;
  font-size: var(--fs3);
  vertical-align: middle;
  border-radius: var(--br2);
  padding: 0 var(--sp3);
  appearance: none;
  outline: 0;
  height: 40px;
  width: 100%;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
}

@media (prefers-color-scheme: dark) {
  [data-ph-vars-input] {
    /* --input-background-color: yellow; */
  }
}

[data-ph-input]::placeholder {
  color: var(--input-placeholder-color);
}

[data-ph-input]:focus {
  box-shadow: var(--input-focused-box-shadow);
  border-color: var(--input-focused-border-color);
}

[data-ph-input]:disabled,
[data-ph-input][readonly] {
  opacity: 0.6;
  cursor: not-allowed;
}

[data-ph-input][aria-invalid="true"] {
  border-color: var(--input-errored-border-color);
}

[data-ph-input][aria-invalid="true"]:focus {
  box-shadow: var(--input-errored-box-shadow);
  border-color: var(--input-errored-border-color);
}
